{% extends "base.html" %}
{% block title %} Checkout {% endblock title %}

{% block body %}

{% load static %}
		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">
				<!--start breadcrumb-->
				<section class="py-3 border-bottom border-top d-none d-md-flex bg-light">
					<div class="container">
						<div class=" d-flex align-items-center justify-content-center">
							<h3 class=" pe-3">Checkout</h3>
					
						</div>
					</div>
				</section>
				<!--end breadcrumb-->
				<!--start shop cart-->
				<section class="py-4">
					<div class="container">
						<div class="card py-3 mt-sm-3">
							<div class="card-body text-center">
								<h2 class="h4 pb-3">Thank you for your order!</h2>
								<p class="fs-sm mb-2">Your order has been placed and will be processed as soon as possible.</p>
								</p>
								<p class="fs-sm">You will be receiving a phone call for confirmation of your order. <u>You can now:</u>
								</p><a class="btn btn-light rounded-0 mt-3 me-3" href="{% url "home" %}">Go back shopping</a>
							</div>
						</div>
					</div>
				</section>
				<!--end shop cart-->
			</div>
		</div>
		<!--end page wrapper -->
		{% endblock body %}