{% extends "base.html" %}
{% load static %}
{% block title %}Privacy Policy{% endblock title %}

{% block body %}
<div class="container">
    <h2>Privacy Policy</h2>
    <p>Dear Customer, we try our best from our end to provide you the best customer experience.</p>
    <h3>The delivery of your order is subjected to availability of stock.</h3>
    <p>Check and receive your product in front of the delivery man. If your product is damaged, defective, incorrect, or has any mismatch in size or pricing issue at the time of delivery, please return or cancel it immediately to the delivery person. But you have to pay the delivery charge to cancel your order.</p>
    <p>For any assistance, you can call our team at <a href="tel:01333708452">01333708452</a> (10.00am to 10.00pm except Govt. holidays). But in case if you couldn't reach the customer service, you can provide your issue details after selecting the proper issue section in our Report Issue Section</a>.</p>
    <h3>Ordering Policy</h3>
    <ul>
        <li>Service is only available for articles (products) which are shown in stock on our website.</li>
        <li>Currently, each order will be shipped only to a single destination address. If customers wish to ship products to different addresses, customers will need to place multiple separate orders.</li>
        <li>Orders that are paid for cannot be cancelled.</li>
    </ul>
   
   
   
   
    <h3>Shipping Policy</h3>
    <p>We are committed to delivering your order accurately, in good condition,Please note our shipping policy as follows:</p>
    <h3>Size Change</h3>
    <p>If the size doesn't fit, you can exchange the size of the product bought from Smart Looks BD E-Commerce site within 7 days from the delivery date. We will not accept the exchange request if you request for exchange after 7 days from the delivery date.</p>
    <p>We will only accept exchange that the product(s) being returned for exchange is unused, clean, and in their original state and packaging.</p>
    <p>Please call our team at <a href="tel:01333708452">01333708452</a> (10.00am to 10.00pm except Govt. holidays) to initiate the exchange.</p>
    <p>Please keep your invoice safe and intact as it is essential to give the same to the store while getting your product exchanged.</p>
</div>
{% endblock body %}
